.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
*.egg-info/
spectrograms/
data/data_split/
data/data_split.zip

# Ignore outputs except specific files
outputs/**
!outputs/models/
!outputs/models/best_model.pth
!outputs/logs/
!outputs/logs/training_history_20260603_141827.csv
!outputs/plots/
!outputs/plots/acc_20260603_141827.png
!outputs/plots/loss_20260603_141827.png
!outputs/plots/eval_confusion_matrix.png
!outputs/plots/example_predictions.png